In [5]:
import requests
import pandas as pd
from io import StringIO

# Crear una lista para almacenar los DataFrames de cada año
dataframes = []

# Rango de años desde 2006 hasta 2021
for year in range(2006, 2022):
    # Construir la URL con el año actual
    url = f"http://spaceweather.izmiran.ru/dbs/fds/years/{year}.txt"
    
    # Realizar una solicitud GET a la URL
    response = requests.get(url)
    
    # Verificar si la solicitud fue exitosa
    if response.status_code == 200:
        # Leer el contenido de la página como una cadena y separar las líneas
        content = response.text
        lines = content.split('\n')
        
        # Crear un DataFrame a partir de las líneas con tabulaciones como separadores
        df = pd.read_csv(StringIO(content), sep='\t', header=None)
        
        # Agregar el DataFrame a la lista
        dataframes.append(df)

# Concatenar todos los DataFrames en uno solo
df_combined = pd.concat(dataframes)

# Restablecer el índice del DataFrame resultante
#df_combined.reset_index(drop=True, inplace=True)
#df_combined.to_csv("forbush_decrease_database.csv")
# Ahora df_combined contiene los datos de todos los años en un solo DataFrame de pandas
print(df_combined)

                      0    1     2     3   4     5   6     7    8      9   \
0    2006.01.01 14:05:00  0.7  0.90  1.67  -1 -0.29   3  16.8 -2.1  503.0
1    2006.01.04 20:00:00  0.7  1.10  0.84   7 -0.16   9   7.0 -4.5  359.0
2    2006.01.06 07:00:00  0.6  0.94  0.86  69 -0.20   9   8.5 -5.4  401.0
3    2006.01.10 17:00:00  0.6  0.81  0.70  -2 -0.16   9   5.8 -4.8  336.0
4    2006.01.15 14:00:00  1.3  1.04  1.30  28 -0.24   9  12.3 -6.1  459.0
..                   ...  ...   ...   ...  ..   ...  ..   ...  ...    ...
104  2020.12.19 09:00:00  0.5  1.05  0.87  11 -0.21   9   9.0 -3.3  388.0
105  2020.12.20 23:00:00  0.6  0.86  0.92  19 -0.18   9  11.6 -6.5  407.0
106  2020.12.22 01:00:00  0.6  0.82  0.72   6 -0.20   9  12.9 -2.4  637.0
107  2020.12.27 04:00:00  0.5  0.59  0.52  42 -0.21   9   7.2 -3.0  552.0
108  2020.12.29 18:00:00  0.6  0.98  0.71  16 -0.19   9   6.8 -3.4  509.0

       10
0   -16.0
1   -12.0
2   -23.0
3    -2.0
4   -20.0
..    ...
104 -12.0
105 -13.0
106 -22.0
107 -14.0
108 -15.0

[1850 rows x 11 columns]

### Leyendo el archivo que ya está guardado

In [8]:
data = pd.read_csv('forbush_decrease_database.csv')
data

,date,MagnM,Axym,Azrange,TminM,DminM,OType,Bmax,Bzmin,Vmax,Dstmin
0,2006.01.01 14:05:00,0.7,0.90,1.67,-1,-0.29,3,16.8,-2.1,503.0,-16.0
1,2006.01.04 20:00:00,0.7,1.10,0.84,7,-0.16,9,7.0,-4.5,359.0,-12.0
2,2006.01.06 07:00:00,0.6,0.94,0.86,69,-0.20,9,8.5,-5.4,401.0,-23.0
3,2006.01.10 17:00:00,0.6,0.81,0.70,-2,-0.16,9,5.8,-4.8,336.0,-2.0
4,2006.01.15 14:00:00,1.3,1.04,1.30,28,-0.24,9,12.3,-6.1,459.0,-20.0
...,...,...,...,...,...,...,...,...,...,...,...
104,2020.12.19 09:00:00,0.5,1.05,0.87,11,-0.21,9,9.0,-3.3,388.0,-12.0
105,2020.12.20 23:00:00,0.6,0.86,0.92,19,-0.18,9,11.6,-6.5,407.0,-13.0
106,2020.12.22 01:00:00,0.6,0.82,0.72,6,-0.20,9,12.9,-2.4,637.0,-22.0
107,2020.12.27 04:00:00,0.5,0.59,0.52,42,-0.21,9,7.2,-3.0,552.0,-14.0
108,2020.12.29 18:00:00,0.6,0.98,0.71,16,-0.19,9,6.8,-3.4,509.0,-15.0

In [9]:
filtered_data = data[data['OType'] == 1]
filtered_data

,date,MagnM,Axym,Azrange,TminM,DminM,OType,Bmax,Bzmin,Vmax,Dstmin
54,2006.07.09 21:36:00,3.8,1.95,2.88,34,-0.38,1,9.7,-6.4,438.0,-23.0
60,2006.07.27 13:53:00,1.0,0.82,1.53,14,-0.25,1,14.0,-8.5,663.0,-47.0
63,2006.08.07 00:35:00,0.9,0.78,1.44,28,-0.38,1,18.1,-7.4,630.0,-44.0
66,2006.08.17 07:20:00,1.4,1.51,1.29,8,-0.31,1,8.7,-6.4,355.0,-17.0
74,2006.09.04 00:20:00,0.9,1.25,1.52,4,-0.28,1,14.2,-5.1,621.0,-41.0
...,...,...,...,...,...,...,...,...,...,...,...
38,2019.05.10 17:54:00,1.6,0.99,0.75,26,-0.28,1,11.9,-10.5,382.0,NaN
44,2019.05.26 22:14:00,1.1,0.94,1.08,14,-0.29,1,11.8,-6.3,372.0,-16.0
38,2020.04.20 02:33:00,0.9,0.96,0.74,10,-0.34,1,15.9,-14.3,371.0,-59.0
84,2020.10.19 14:41:00,0.6,0.62,0.93,12,-0.19,1,9.1,-3.0,419.0,-13.0
86,2020.10.23 13:20:00,1.2,0.82,0.63,52,-0.34,1,13.3,-3.5,613.0,-38.0

In [14]:
filtered_data.loc[54]['date']

'2006.07.09 21:36:00'

In [15]:
# Importar la biblioteca datetime
from datetime import datetime

# Función para convertir la fecha
def convert_date_to_continuous_number(date_str):
    # Convertir la fecha en un objeto datetime
    date_obj = datetime.strptime(date_str, '%Y.%m.%d %H:%M:%S')
    
    # Construir un número continuo a partir de la fecha
    continuous_number = int(date_obj.strftime('%Y%m%d%H%M'))
    
    return continuous_number

# Aplicar la función a la columna 'date' en filtered_data
filtered_data['continuous_date'] = filtered_data['date'].apply(convert_date_to_continuous_number)

# Verificar los resultados
print(filtered_data)

                   date  MagnM  Axym  Azrange  TminM  DminM  OType  Bmax  \
54  2006.07.09 21:36:00    3.8  1.95     2.88     34  -0.38      1   9.7
60  2006.07.27 13:53:00    1.0  0.82     1.53     14  -0.25      1  14.0
63  2006.08.07 00:35:00    0.9  0.78     1.44     28  -0.38      1  18.1
66  2006.08.17 07:20:00    1.4  1.51     1.29      8  -0.31      1   8.7
74  2006.09.04 00:20:00    0.9  1.25     1.52      4  -0.28      1  14.2
..                  ...    ...   ...      ...    ...    ...    ...   ...
38  2019.05.10 17:54:00    1.6  0.99     0.75     26  -0.28      1  11.9
44  2019.05.26 22:14:00    1.1  0.94     1.08     14  -0.29      1  11.8
38  2020.04.20 02:33:00    0.9  0.96     0.74     10  -0.34      1  15.9
84  2020.10.19 14:41:00    0.6  0.62     0.93     12  -0.19      1   9.1
86  2020.10.23 13:20:00    1.2  0.82     0.63     52  -0.34      1  13.3

    Bzmin   Vmax  Dstmin  continuous_date
54   -6.4  438.0   -23.0     200607092136
60   -8.5  663.0   -47.0     200607271353
63   -7.4  630.0   -44.0     200608070035
66   -6.4  355.0   -17.0     200608170720
74   -5.1  621.0   -41.0     200609040020
..    ...    ...     ...              ...
38  -10.5  382.0     NaN     201905101754
44   -6.3  372.0   -16.0     201905262214
38  -14.3  371.0   -59.0     202004200233
84   -3.0  419.0   -13.0     202010191441
86   -3.5  613.0   -38.0     202010231320

[185 rows x 12 columns]

/tmp/ipykernel_9641/409621421.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['continuous_date'] = filtered_data['date'].apply(convert_date_to_continuous_number)

In [24]:
filtered_data['continuous_date'].iloc[0]

200607092136

In [20]:
import requests
import pandas as pd
from io import StringIO

# Tomar el primer enlace
first_url = f"http://spaceweather.izmiran.ru/dbs/fds/events/{filtered_data['continuous_date'].iloc[0]}.txt"

# Realizar una solicitud GET al primer enlace
response = requests.get(first_url)

if response.status_code == 200:
    # Leer el contenido del primer enlace como una lista de líneas
    lines = response.text.splitlines()
    
    # Tomar la primera columna del primer dataset y convertirla en el encabezado
    header = lines[0].split('\t')[0]
    
    # Crear un DataFrame vacío con el encabezado
    new_data = pd.DataFrame(columns=[header])
    
    # Iterar a través de las fechas en la columna 'date' de filtered_data
    for date in filtered_data['continuous_date']:
        # Construir la URL correspondiente
        url = f"http://spaceweather.izmiran.ru/dbs/fds/events/{date}.txt"
        
        # Realizar una solicitud GET a la URL
        response = requests.get(url)
        
        if response.status_code == 200:
            # Leer el contenido de la página como una lista de líneas
            lines = response.text.splitlines()
            
            # Tomar la segunda columna de cada dataset y añadirla como una nueva columna al DataFrame
            data = [line.split('\t')[1] for line in lines]
            
            # Agregar una nueva columna al DataFrame
            new_data[date] = data

# Restablecer el índice del nuevo DataFrame
new_data.reset_index(drop=True, inplace=True)

/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data
/tmp/ipykernel_9641/432665941.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_data[date] = data

In [21]:
new_data

,Date,200607092136,200607271353,200608070035,200608170720,200609040020,200612080435,200612141414,200612161755,200612181014,...,201804200021,201805051025,201805221218,201805311446,201809290053,201905101754,201905262214,202004200233,202010191441,202010231320
0,NaN,2006-07-09,2006-07-27,2006-08-07,2006-08-17,2006-09-04,2006-12-08,2006-12-14,2006-12-16,2006-12-18,...,2018-04-20,2018-05-05,2018-05-22,2018-05-31,2018-09-29,2019-05-10,2019-05-26,2020-04-20,2020-10-19,2020-10-23
1,NaN,21:36:00,13:53:00,0:35:00,7:20:00,0:20:00,4:35:00,14:14:00,17:55:00,10:14:00,...,0:21:00,10:25:00,12:18:00,14:46:00,0:53:00,17:54:00,22:14:00,2:33:00,14:41:00,13:20:00
2,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,NaN,2006-07-06,None,None,None,None,2006-12-06,2006-12-13,2006-12-14,None,...,None,None,None,None,None,None,None,None,None,None
4,NaN,8:13:00,None,None,None,None,18:29:00,2:14:00,21:07:00,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,NaN,90.5,None,None,None,None,None,222.3,None,None,...,None,None,None,None,None,None,None,None,None,None
109,NaN,93,0,0,95,0,94,77,77,0,...,None,None,None,None,None,None,93,None,None,None
110,NaN,None,1,1,None,1,None,None,None,1,...,None,None,None,None,None,None,None,None,None,None
111,NaN,0,0,0,0,0,0,92,0,0,...,0,0,0,0,0,0,0,0,0,0
112,NaN,31,18,0,27,0,28,23,20,0,...,None,None,None,None,None,None,None,None,None,None

In [33]:
import requests
import pandas as pd
from io import StringIO

# Tomar el primer enlace
first_url = f"http://spaceweather.izmiran.ru/dbs/fds/events/{filtered_data['continuous_date'].iloc[0]}.txt"

# Realizar una solicitud GET al primer enlace
response = requests.get(first_url)

In [36]:
if response.status_code == 200:
    # Leer el contenido de la respuesta
    file_content = response.text

    # Puedes imprimir el contenido para verificar
    print(file_content)

    # Para convertir el contenido en un DataFrame
    data = pd.read_csv(StringIO(file_content), sep='\s+', engine='python')
    # Eliminar espacios en los valores de la primera columna
    data.iloc[:, 0] = data.iloc[:, 0].str.strip()

data

Date      	2006-07-09
Time      	21:36:00
Otype      	1
Sdate      	2006-07-06
Stime      	8:13:00
Stype      	1.0
Source      	SF+CH
Qs      	4
Vsp      	1043.0
Vmean      	487.0
VmeanC      	486
Vmax      	438.0
tVmax      	2
Bmax      	9.7
tBmax      	3
VmBm      	2.12
Bzmin      	-6.4
ABzmax      	7.2
BzmtoBm      	0.742
KTmax      	1.919
tKTmax      	3.0
KTmin      	0.262
tKTmin      	28.0
Bemax      	25.82
tBemax      	8.0
Bemin      	0.38
tBemin      	26.0
Rbulk      	15.23
B2Sum      	1.31
Magn      	4.5
MagnM      	3.8
MagnL      	11.82
MagnC      	4.5
Tmin      	34
TminM      	34
Dmin      	-0.51
tDmin      	22
DminM      	-0.38
tDminM      	4
GrDmin      	55.69
Dmax      	0.27
tDmax      	25
AftoB      	0.464
GammaM      	0.84
GammaD      	0.75
tBef      	142.0
tAft      	37.0
tFrom      	37.0
Kpmax      	3.33
Apmax      	18.0
Dstmin      	-23.0
tDstmin      	18.0
Fdata      	M 2.5/SX
Xmagn      	2.5e-05
Hlat      	-9.0
Alat      	9.0
Hlon      	34.0
Sdur      	38
Axym      	1.95
Txymax      	26.0
Axm      	0.03
Aym      	1.95
Azrange      	2.88
Pxym      	89.1
Axdm      	-0.45
Aydm      	-0.27
Azdm      	-0.33
Axydm      	0.52
Pxydm      	211.0
D01      	-0.33
D02      	-0.36
AD02      	0.36
AxytoAf      	0.31
Axb      	0.61
Ayb      	1.39
Azb      	0.46
Axyb      	1.52
Pxyb      	60.8
Ax0      	0.66
Ay0      	1.0
Az0      	0.04
Axy0      	1.2
Pxy0      	56.6
Ax1      	0.61
Ay1      	1.39
Az1      	0.43
Axy1      	1.52
Pxy1      	66.3
dx1b      	-0.15
dy1b      	0.03
dz1b      	-0.03
dxy1b      	0.15
dA11b      	0.16
dz1b      	-0.03
Adz1b      	0.03
dPxy1b      	-102.4
Pdxy1b      	168.7
DP1b      	5.3
CMEdate      	2006-07-06
CMEtime      	8:54:04
CMEwidth      	360
CMEangle      	-999
MCstartdate      	None
MCstarttime      	None
MCdur      	-1
RMC      	None
EruptA      	33.9
EruptD      	56.6
EruptAD      	90.5
Ind      	93
Spol      	None
GLE      	0
SSN      	31

ParserError: Expected 2 fields in line 53, saw 3. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [37]:

# Seleccionar la primera columna y convertirla en una lista de strings
columna1_lista = data.iloc[:, 0].astype(str).tolist()
columna1_lista

['Time      ',
 'Otype      ',
 'Sdate      ',
 'Stime      ',
 'Stype      ',
 'Source      ',
 'Qs      ',
 'Vsp      ',
 'Vmean      ',
 'VmeanC      ',
 'Vmax      ',
 'tVmax      ',
 'Bmax      ',
 'tBmax      ',
 'VmBm      ',
 'Bzmin      ',
 'ABzmax      ',
 'BzmtoBm      ',
 'KTmax      ',
 'tKTmax      ',
 'KTmin      ',
 'tKTmin      ',
 'Bemax      ',
 'tBemax      ',
 'Bemin      ',
 'tBemin      ',
 'Rbulk      ',
 'B2Sum      ',
 'Magn      ',
 'MagnM      ',
 'MagnL      ',
 'MagnC      ',
 'Tmin      ',
 'TminM      ',
 'Dmin      ',
 'tDmin      ',
 'DminM      ',
 'tDminM      ',
 'GrDmin      ',
 'Dmax      ',
 'tDmax      ',
 'AftoB      ',
 'GammaM      ',
 'GammaD      ',
 'tBef      ',
 'tAft      ',
 'tFrom      ',
 'Kpmax      ',
 'Apmax      ',
 'Dstmin      ',
 'tDstmin      ',
 'Fdata      ',
 'Xmagn      ',
 'Hlat      ',
 'Alat      ',
 'Hlon      ',
 'Sdur      ',
 'Axym      ',
 'Txymax      ',
 'Axm      ',
 'Aym      ',
 'Azrange      ',
 'Pxym      ',
 'Axdm      ',
 'Aydm      ',
 'Azdm      ',
 'Axydm      ',
 'Pxydm      ',
 'D01      ',
 'D02      ',
 'AD02      ',
 'AxytoAf      ',
 'Axb      ',
 'Ayb      ',
 'Azb      ',
 'Axyb      ',
 'Pxyb      ',
 'Ax0      ',
 'Ay0      ',
 'Az0      ',
 'Axy0      ',
 'Pxy0      ',
 'Ax1      ',
 'Ay1      ',
 'Az1      ',
 'Axy1      ',
 'Pxy1      ',
 'dx1b      ',
 'dy1b      ',
 'dz1b      ',
 'dxy1b      ',
 'dA11b      ',
 'dz1b      ',
 'Adz1b      ',
 'dPxy1b      ',
 'Pdxy1b      ',
 'DP1b      ',
 'CMEdate      ',
 'CMEtime      ',
 'CMEwidth      ',
 'CMEangle      ',
 'MCstartdate      ',
 'MCstarttime      ',
 'MCdur      ',
 'RMC      ',
 'EruptA      ',
 'EruptD      ',
 'EruptAD      ',
 'Ind      ',
 'Spol      ',
 'GLE      ',
 'SSN      ']

In [23]:
if response.status_code == 200:
    # Leer el contenido del primer enlace como una lista de líneas
    lines = response.text.splitlines()
    
    # Tomar la primera columna del primer dataset y convertirla en el encabezado
    header = lines[0].split('\t')[0]
    
    # Crear un DataFrame vacío con el encabezado
    new_data = pd.DataFrame(columns=[header])
new_data

Empty DataFrame
Columns: [Date      ]
Index: []

In [38]:
import re

if response.status_code == 200:
    # Leer el contenido de la respuesta
    file_content = response.text

    # Para convertir el contenido en un DataFrame
    data = pd.read_csv(StringIO(file_content), sep='\s+', engine='python')

    # Utilizar una expresión regular para eliminar cualquier caracter no deseado en la primera columna
    data.iloc[:, 0] = data.iloc[:, 0].apply(lambda x: re.sub(r'\W', '', x))

# Seleccionar la primera columna y convertirla en una lista de strings
columna1_lista = data.iloc[:, 0].astype(str).tolist()

ParserError: Expected 2 fields in line 53, saw 3. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.